.card_info_head {
	font-size: 1.7em;
	margin-bottom: .02em
}

.card_info_dgree {
	margin-bottom: 1em;
	font-size: 1.2em
}

.card_info_description {
	font-size: 1.3em;
	padding-right: .05em;
	margin-bottom: 1em
}

.contact {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden
}